@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.table{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box {
    width: 300px;
    height: 300px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    border:2px solid red;
    color: blanchedalmond;
    font-size: 100px;
}

.figure{
    width: 8rem;
    height: 8rem;
    background: hotpink;
    border-radius: 100%;
}
